<!DOCTYPE html>
<html>
  <head>
    <title>Créditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Créditos</h1>
    <p>Autor: Julián Chichón Gutiérrez</p>
    <p>JULIAN</p>
  
  </body>
</html>
