<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Quiz</h1>
    <a href="http://localhost:3000/quizzes">Quizzes</a><br />
    <a href="http://localhost:3000/credits">Créditos</a><br />
  </body>
</html>
